* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #D1BCD3;
    padding-top: 10px;
    padding-bottom: 40px;
}

.container {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}

.main {
    background-color: #FFFCE4;
    border: 1px solid #682C6C;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
}

.main > * {
    margin: 5px;
    cursor: default;
}

.bold-hr {
    margin: 0;
    min-width: 100%;
    background-color: #303373;
    height: 2px;
    border-width: 0;
}

.main.right > div > hr {
    background-color: grey;
    height: 1px;
    border-width: 0;
}

.main.left {
    height: 100%;
    flex-grow: 5;
    margin: 10px;
}

.main.left > * {
    margin: 3px;
}

.main.left > .bold-hr {
    margin: 0;
}

.main.right {
    margin: 10px;
    flex-grow: 1;
    max-width: 25%;
    height: 100%;
}

.list {
    margin-top: 5px;
    margin-left: 15px;
    padding: 5px;
}

#to-buy-list, #bought-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.list .elem {
    display: inline-flex;
    align-items: baseline;
    border-radius: 3px;
    margin: 3px 0;
    margin-left: 3px;
    padding: 5px;
    border: 1px solid #303373;
    font-size: 12px;
}

.list.bought span {
    text-decoration-line: line-through;
}

.list .elem:hover {
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
}

.circle {
    margin-left: 3px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    width: 1.4vw;
    height: 1.4vw;
    background-color: orange;
    border-radius: 100px;
    padding: 0.3vw;
    font-size: 1vw;
    font-weight: 500;
    color: white;
}

.search {
    display: flex;
    flex-direction: row;
    height: 35px;
}

.search .text-field {
    width: 85%;
    font-size: 20px;
}

.search .button {
    width: 15%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #D1BCD3;
    background-color: #4c51b9;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.search .button:hover {
    cursor: pointer;
    background-color: #303373;
}

.left .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list .prod {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
}

.list .prod .col {
    width: 33%;
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.list .prod .col1 {
    display: block;
    overflow-wrap: break-word;
    width: 33%;
}

.list .prod .col2 {
    justify-content: center;
}

.list .prod .col2 button {
    margin: 0 3px;
    width: 25px;
    height: 25px;
}

.list .prod .col2 div {
    padding: 3px;
    height: 19px;
    width: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: lightgrey;
}

.list .prod .col3 {
    justify-content: flex-end;
}

.list .prod button {
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.list .prod button:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
}

.list .prod button {
    background-color: #D1BCD3;
    padding: 0 10px;
}

.list .prod button.minus {
    background-color: red;
    padding: 0;
}

.list .prod button.plus {
    background-color: green;
    padding: 0;
}

.list .prod button.cross {
    margin-left: 5px;
    width: 25px;
    height: 25px;
    background-color: red;
    padding: 0;
}

.badge {
    position:fixed;
    bottom: -40px;
    left: 10px;
    padding: 10px;
    background: purple;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    transition: all 1s ease;
}

.badge:hover {
    bottom: 0;
    background-color: black;
}

@media print {
    .badge {
        color: black;
        background-color: white;
        border: 1px solid purple;
        bottom: 0;
    }

    .badge:hover {
        background-color: white;
    }

    .badge h3 {
        display: none;
    }
}

.badge p {
    margin-top: 5px;
    font-size: 12px;
}

.tooltip {
    position: relative;
}

.tooltip::after {
    position: absolute;
    content: attr(data-tooltip);
    background-color: #682C6C;
    border-radius: 3px;
    padding: 3px;
    font-size: 0;
    white-space: nowrap;
    transition: all 0.5s linear 0.3s;
    color: white;
    bottom: 0;
    opacity: 0;
    transform: scaleX(0);
    z-index: 9999;
    pointer-events: none;
}

.tooltip:hover::after {
    bottom: 110%;
    opacity: 1;
    font-size: 12px;
    transform: scaleX(1);
}