* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #D1BCD3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    max-width: 800px;
    margin: auto;

}

.main {
    background-color: #FFFCE4;
    border: 1px solid #682C6C;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.main > * {
    margin: 5px;
}

.main.right > hr {
    margin: 0;
    max-width: 300px;
    background-color: #303373;
    height: 2px;
    border-width: 0px;
}

.main.right > div > hr {
    background-color: grey;
    height: 1px;
    border-width: 0px;
}

.main.left {
    max-width: 500px;
    height: 100%;
    padding: 5px;
}

.right {
    float: right;
}

.main.right {
    width: 250px;
    margin-left: 10px;
}

.main.right .list {
    margin-top: 5px;
    margin-left: 15px;
    padding: 5px;
}

.main.right .list .elem {
    display: inline-block;
    border-radius: 3px;
    margin: 3px 0px;
    padding: 3px 5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(156,156,156,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(156,156,156,1);
    box-shadow: 3px 3px 5px 0px rgba(156,156,156,1);
}

.main.right .list .elem #circle  {
    display: inline-block;
    width: 19px;
    text-align: center;
    border-radius: 100px;
    background-color: orange;
}

.search > *{
    display: inline-block;
    height: 35px;
}

.search .textfield {
    min-width: 70%;
}

.search .button {
    min-width: 28%;
}
