* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #D1BCD3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    max-width: 800px;
    margin: auto;
    margin-top: 5%;
}

.main {
    background-color: #FFFCE4;
    border: 1px solid #682C6C;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.main > * {
    margin: 5px;
    cursor: default;
}

.boldhr {
    margin: 0;
    min-width: 100%;
    background-color: #303373;
    height: 2px;
    border-width: 0px;
}

.main.right > div > hr {
    background-color: grey;
    height: 1px;
    border-width: 0px;
}

.main.left {
    max-width: 500px;
    height: 100%;
}

.main.left > * {
    margin: 3px;
}

.main.left > .boldhr {
    margin: 0;
}

.right {
    float: right;
}

.main.right {
    width: 250px;
    margin-left: 10px;
}

.list {
    margin-top: 5px;
    margin-left: 15px;
    padding: 5px;
}

.list .elem {
    display: inline-flex;
    align-items: baseline;
    border-radius: 3px;
    margin: 3px 0px;
    padding: 5px;
    border: 1px solid #303373;
    font-size: 12px;
}

.list .bought span {
    text-decoration-line: line-through;
}

.list .elem:hover {
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    cursor: pointer;
}

.circle {
    margin-left: 3px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    width: 1.4vw;
    height: 1.4vw;
    background-color: orange;
    border-radius: 100px;
    padding: 0.3vw;
    font-size: 1vw;
    font-weight: 500;
    color: white;
}

.search {
    display: flex;
    flex-direction: row;
    height: 35px;
}

.search .textfield {
    width: 85%;
    font-size: 20px;
}

.search .button {
    width: 15%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #D1BCD3;
    background-color: #4c51b9;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.search .button:hover {
    cursor: pointer;
    background-color: #303373;
}

/*.search > *{
    display: inline-block;
    height: 35px;
}

.search .textfield {
    min-width: 70%;
}

.search .button {
    min-width: 28%;
}*/

.left .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list .prod {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
}

.list .prod .col {
    width: 33%;
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.list .prod .col1 {
    display: block;
    overflow-wrap: break-word;
    width: 33%;
}

.list .prod .col2 {
    justify-content: center;
}

.list .prod .col2 button {
    margin: 0 3px;
    width: 25px;
    height: 25px;
}

.list .prod .col2 div {
    padding: 3px;
    height: 19px;
    width: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: lightgrey;
}

.list .prod .col3 {
    justify-content: right;
}

.list .prod button {
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.list .prod button:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
}

.list .prod button#minus {
    background-color: red;
}

.list .prod button#plus {
    background-color: green;
}

.list .prod button#bought {
    background-color: #D1BCD3;
    padding: 0 10px;
}

.list .prod div.bought {
    text-decoration-line: line-through;
}

.list .prod button#unbought {
    background-color: #D1BCD3;
    padding: 0 10px;
}

.list .prod button#cross {
    margin-left: 5px;
    width: 25px;
    height: 25px;
    background-color: red;
}

.list .prod button#cross::after {
    content: '\00d7';
}